/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    min-width: 320px;
    max-width: 1440px;
}

main {
    margin: 0px 50px;
}

section {
    margin-bottom: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 8px;
}

h3 {
    margin: 0;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
}

.card-rating {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/****** En-tête ***********/
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    height: 79px;
}

.logo {
    padding: 30px 50px 30px 50px;
    gap: 10px;
}


header nav ul li a:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}


header nav ul li a {
    border-top: 2px solid transparent;
    padding-top: 13px;
}


header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 25px 0px 25px;
}

header nav ul li a {
    position: relative;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 25px 0px 25px;
    height: 35px;
}


/****** Section Recherche ***********/
.section-recherche {
    display: grid;
    gap: 35px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    gap: 24px;
}

.champ-saisie {
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    height: 21px;
}

.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
    line-height: 21.13px;
}

.location-icon i {
    font-size: 14px;
}

.bouton-rechercher {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
}

.bouton-rechercher-mobile {
    display: none;
}

/****** Filtres ***********/
.filtres {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    gap: 15px;
}


.filtres-title:hover {
    background-color: unset !important;
}

.filtres button {
    background-color: unset;
    font-size: 17px;
    cursor: pointer;
    height: 50px;
    padding: 4px 19px 4px 19px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filtres-bouton {
    border: 2px solid rgb(217, 217, 217);
    border-radius: 25px;
    font-weight: bold;
}

.filtres-bouton .fa-solid {
    font-size: 22px;
}

.filtres :hover {
    background-color: #DEEBFF;
}

.logo-info {
    display: inline-flex;
    height: 22px;
    min-width: 22px;
    border-radius: 50%;
    border: 1px solid rgb(217, 217, 217);
    align-items: center;
    justify-content: center;
}

i.fa-solid.fa-info {
    font-size: 10px;
}

.search-results {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

/****** Hebergements ***********/
.hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards-row {
    display: flex;
    gap: 30px;
}

.hebergements-cards a {
    display: flex;
    flex: 1;
}

.hebergements-cards-row .card {
    flex-wrap: wrap;
    gap: 4px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hebergements-cards-row img {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid white;
}

@media (min-width:1025px) and (max-width:1439px) {
    .hebergements-cards-row img {
        max-width: 100%;
    }
}

@media (min-width:1441px) {
    .hebergements-cards-row img {
        width: 100%;
    }
}

.hebergements-cards-row .card-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0px 15px 5px 15px;
    line-height: 20px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#afficher-plus {
    font-weight: bold;
    font-size: 18px;
}

/****** Populaires ***********/
.populaires-title {
    display: flex;
    justify-content: space-between;
}

.populaires-cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    flex: 1;
}

.populaires-cards a {
    display: flex;
}

.populaires-cards .card {
    display: flex;
    flex: 1;
}

.populaires-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 15px 5px 5px 15px;
    justify-content: space-between;
}

.populaires-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.populaires-cards img {
    width: 123px;
    min-width: 123px;
    height: 146px;
    border: white solid 5px;
    border-radius: 20px 0px 0px 20px;
    min-height: 100%
}


/****** Activités ***********/
.activites {
    display: grid;
    gap: 30px;
    padding: 30px;
}

.activites-title {
    line-height: 30px
}

.activites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px;
}

.activites-cards a {
    display: flex;
}


.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.activites-cards .card-content {
    background-color: white;
    padding: 20px 19px 20px 19px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
}

/****** Pied de page ***********/
footer {
    background-color: #F2F2F2;
    margin: 0px 50px;
}

footer nav {
    display: flex;
    flex-direction: row;
}

footer div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 15px;
}

footer nav ul li {
    padding: 0;
    list-style-type: none;
}

footer p {
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .card {
        height: 100%;
    }

    .filtres {
        display: inline-block;
    }

    .filtres button {
        margin-top: 20px;
        margin-right: 10px;
        display: inline-flex;
        font-size: 16px;
    }

    .filtres-bouton .fa-solid {
        vertical-align: middle;
    }

    button.filtres-bouton span {
        white-space: nowrap;
        vertical-align: middle;
    }

    .hebergements-and-populaires {
        grid-template-columns: none;
        gap: 50px;
    }

    .hebergements-cards img {
        width: 100%;
        max-width: 268px;
    }


    a#afficher-plus {
        font-size: 18px;
    }

    section .populaires {
        gap: 20px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-between;
    }

    .populaires-cards img {
        width: 91px;
        min-height: 146px;
        height: auto;
        min-width: 91px;
    }

    .populaires-cards {
        gap: 20px;
    }

    .populaires-cards .card {
        margin-top: 0;
        padding-bottom: 0;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .populaires-cards .card-rating {
        white-space: nowrap;
    }

    .populaires-cards .card-content {
        gap: 24px;
    }

    .activites-title {
        line-height: 30px;
    }

    .activites-cards {
        max-width: 100%;
        gap: 30px;
    }

    .activites-cards .card-content {
        padding: 15px 19px 15px 19px;
        height: 36px;
        display: flex;
        align-items: center;
    }

    .activites img {
        width: 100%;
        max-width: 193.5px;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .card {
        height: unset;
    }

    header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: 0;
        font-size: 19px;
    }

    header nav ul li:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
    }

    header nav ul li {
        display: block;
        border-bottom: 2px solid #F2F2F2;
        position: relative;
        justify-items: center;
        padding: 0px;
    }

    header nav ul li a {
        display: grid;
        justify-items: center;
        padding: 0px;
    }

    header nav ul li a:hover {
        border-top-color: transparent;
    }

    .section-recherche {
        padding: 0px 20px 0px 20px;
        justify-content: center;
    }

    .search-bar {
        width: unset;
        position: relative;
    }

    .search-results {
        height: unset;
    }

    .bouton-rechercher {
        display: none;
    }

    .bouton-rechercher-mobile {
        display: inline;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border-radius: 15px;
        padding: 15px 16px 15px 16px;
        gap: 10px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        position: absolute;
        right: 0;
    }

    .filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 10px;
    }

    .filtres-title {
        grid-column: 1/3;
        line-height: 21px;
    }

    .filtres button {
        margin: 0;
    }

    button.filtres-bouton {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .filtres-bouton i {
        font-size: 22px;
        min-width: 22px;
        max-width: 22px;
    }

    main {
        margin: 0;
    }

    .hebergements-and-populaires {
        display: grid;
        grid-template-rows: auto;
        gap: 15px;
        justify-content: center;
    }

    .hebergements-and-populaires .card-title {
        font-size: 16px;
    }

    .hebergements-and-populaires .card-subtitle {
        font-size: 14px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-title {
        margin-top: 0px;
    }

    .populaires {
        order: 1;
    }

    section.populaires {
        padding: 30px 20px 30px 20px;
    }

    .populaires-cards {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 15px;
        margin-bottom: 0px;
    }

    .populaires-cards img {
        width: 111px;
        height: 136px;
    }

    .populaires-cards .fa-xs.fa-solid.fa-star {
        width: 12px;
        height: 12px;
        margin-right: -2.5px;
    }

    .populaires .card-rating {
        margin-bottom: 5px;
    }

    .hebergements {
        order: 2;
    }

    section.hebergements {
        background-color: white;
        padding: 20px;
        gap: 15px;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: auto;
        gap: 15px;
    }

    .hebergements-cards-row {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .hebergements article.card {
        padding: 0px 0px 15px 0px;
    }

    .hebergements-cards img {
        width: 100%;
        max-width: unset;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
        border: 5px solid white;
    }

    .hebergements .card-content {
        padding: 0px 15px;
        gap: 8px;
    }

    .hebergements-cards .card-txt {
        gap: 8px;
    }

    .hebergements .card-subtitle {
        margin: 0
    }

    .hebergements .card-rating {
        margin-top: 0;
        margin-bottom: 0;
        height: 13.25px;
    }

    .hebergements-cards .fa-xs.fa-solid.fa-star {
        width: 14.29px;
        height: 13.25px;
        margin-right: -2px;
    }

    .activites-cards {
        grid-template-columns: none;
        gap: 15px;
    }

    .activites-cards .card {
        gap: 4px;
    }

    .activites-cards img {
        width: 100%;
        max-width: unset;
        height: 141px;
    }

    .activites-cards .card-content {
        margin-top: -3px;
        padding: 20px 19px 20px 19px;
        height: unset;
    }

    footer {
        grid-template-columns: none;
        margin: 0;
        padding: 30px;
    }

    footer nav {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    footer nav ul {
        font-size: 16px;
    }

    footer div {
        margin: 0px;
        padding: 0;
        line-height: 18.78px;
    }

    footer h3 {
        margin: 0;
        font-size: 18px;
        height: 21px;
    }

    footer p {
        margin: 0;
        height: 19px;
    }
}