/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    min-width: 320px;
    max-width: 1440px;
    box-sizing: border-box;
}

main {
    margin: 0px 50px;
}

section {
    margin-bottom: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 8px  ;
}

/****** En-tête ***********/
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.logo {
    padding: 30px 50px 30px 50px;
    gap: 10px;
}


nav ul li a:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}


nav ul li a {
    border-top: 2px solid transparent;
    padding-top: 13px;
}


nav ul li {
display: inline-block;
list-style: none;
padding-left: 25px;
padding-right: 25px;
}

nav ul li a{
    position: relative; 
}



nav ul li {
display: inline-block;
list-style: none;
padding-left: 25px;
padding-right: 25px;
height: 35px;
}



/****** Section Recherche ***********/
.section-recherche {
   display: grid;
    gap: 35px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    gap: 24px;
 }

.champ-saisie {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    height: 21px;
}

.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
    line-height: 21.13px;
}

.location-icon i {
    font-size: 14px;
}

.bouton-rechercher {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
}

.bouton-rechercher-mobile {
    display: none;
}

/****** Filtres ***********/
.filtres {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    gap: 15px;
}


.filtres-title:hover {
    background-color: unset !important;
}

.filtres button {
    background-color: unset;
    font-size: 17px;
    cursor: pointer;
    height: 50px;
    padding : 4px 19px 4px 19px
}

.filtres-bouton {
        border: 2px solid rgb(217, 217, 217) ;
        border-radius: 25px;
        font-weight: bold;
}

.filtres :hover {
    background-color: #DEEBFF;
}

.logo-info {
    display: inline-flex;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid rgb(217, 217, 217);
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.search-results {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    }

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 0;
}

/****** Hebergements ***********/
.hebergements > * {
    gap: 30px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto ;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

/****** Populaires ***********/

.populaires-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

#afficher-plus {
    font-weight: bold;
}

/****** Activités ***********/
.activites {
    display: grid;
    gap: 30px;
    padding: 30px;
}

.activites-title {
    display: flex;
    align-items: top ;
 }

.activites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px;
} 

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card{
   padding: 0;
}

.activites-cards .card-content {
background-color: white;
padding: 20px 19px 20px 19px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
font-weight: bold;
}

/****** Pied de page ***********/
footer {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: #F2F2F2;
margin: 0px 50px;
}

footer div {
padding: 0px 20px 0px 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .card {
        height: 100%;
    }

   .filtres {
        display: inline-block ;
    }

    .filtres button {
        margin-top: 20px;
        margin-right: 10px;
    }

    .hebergements-and-populaires {
    grid-template-columns: none; 
    gap: 50px;
   }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards img {
        height: unset;
    }

    .populaires-cards {
        gap: 20px;
    }

    .populaires-cards .card {
        margin-top: 0;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards {
        max-width: 100%;
    }

    .activites img {
        height: 200px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }


}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .card {
        height: unset;
    }

    header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: 0;
        font-size: 19px;
    }

    nav ul li:hover {
         color: #0065FC;
         border-bottom: 2px solid #0065FC; 
    }  
        
    nav ul li {
        display: block;
        border-bottom: 2px solid #F2F2F2;
        position: relative;
        justify-items: center;
        padding: 0px ;
    }

    nav ul li a {
        display: grid;
        justify-items: center;
        padding: 0px ; 
    }

    nav ul li a:hover {
        border-top-color: transparent;
    }

    .search-bar {
        width: unset;
        position: relative;
    }

    .champ-saisie {
        width: 100%;
    }

    .bouton-rechercher {
        display: none;
    }

    .bouton-rechercher-mobile {
        display: inline;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border-radius: 15px;
        padding: 15px 16px 15px 16px;
        gap: 10px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        position: absolute;
        right: 0;
    }

    .filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .filtres-title {
        grid-column: 1/3;
    }

    .filtres button {
        margin: 0;
    }

    main {
        margin: 0;
    }

    .section-recherche {
        margin: 0px 35px 35px 35px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires {
        order: 1;
    }

    .populaires-cards {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .populaires-cards img {
        width: 111,67px;
        height: 146px;
    }

    .hebergements {
        order: 2;
    }

    section.hebergements {
        background-color: white;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: auto;
    }

    .activites-cards {
        grid-template-columns: none;
    }

    footer {
        grid-template-columns: none;
        margin: 0;
    }
}